name: "run tests unitaire"

on: 
  push:
    branches: ["develop","main"]
  pull_request:
    branches: ["develop","main"]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres: 
        image: postgres:16
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: 0000
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U testuser"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: checkout du code
        uses: actions/checkout@v4

      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: wait for postgresql
        run: |
          until pg_isready -h localhost -p 5432 -U testuser; do
            echo "PostgreSQL is not ready yet..."
            sleep 1
          done

      - name: override env for pytest
        run: |
          echo "DATABASE_USER=testuser" >> $GITHUB_ENV
          echo "DATABASE_PASSWORD=0000" >> $GITHUB_ENV
          echo "DATABASE_NAME=testdb" >> $GITHUB_ENV
          echo "DATABASE_HOST=localhost" >> $GITHUB_ENV
          echo "DATABASE_PORT=5432" >> $GITHUB_ENV
      - name: tests execution
        run: pytest -v
