name: "run tests unitaire"

on: 
  push:
    branches: [ "develop","main"]
  pull_request:
    branches: ["develop", "main"]

jobs:
    build:
        runs-on: ubuntu-latest
        services:
          postgres: 
            image: postgres:16
            env:
              POSTGRES_USER: testuser
              POSTGRES_PASSWORD: 0000
              POSTGRES_DB: testdb
            ports:
             - 5432:5432
             # Health checks to ensure PostgreSQL is fully ready
            options: >-
                 --health-cmd="pg_isready -U testuser"
                 --health-interval=10s
                 --health-timeout=5s
                 --health-retries=5
        steps:
            - name: checkout du code
              uses: actions/checkout@v5

            - name: install python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
            - name: install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: wait for postgresql
              run: |
                   until pg_isready -h localhost -p 5432 -U testuser; 
                   do echo "PostgreSQL is not ready yet..."
                   sleep 1
                   done
            - name: set test database
              run: echo "DATABASE_URL=postgresql://testuser:0000@localhost:5432/testdb" >> $GITHUB_ENV

            - name: tests execution
              run: pytest -v
            
              

  
